* {
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

body {
	margin: 0;
	font-family: 'Inter', sans-serif;
	background-color: black;
}

.test {
	background-color: black;
	color: white;
	opacity: 0.9;
	width: 100svw;
	height: 100svh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-size: 3rem;
}

.link {
	font-size: 1rem;
	text-decoration: none;
	margin: 1rem;
	color: #4d4d4d;
}

nav.top {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding-left: 1rem;
	background-color: #fff7ed;
	height: 120px;
}

nav.top > :nth-child(2) {
	margin-left: auto;
}

h1.title {
	font-weight: 700;
	font-size: 1.5rem;
}
