* {
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}
#root {
	display: flex;
	flex-direction: column;
	width: 100svw;
	height: 100svh;
}

body {
	margin: 0;
	font-family: 'Inter', sans-serif;
	background-color: black;
}

.test {
	background-color: black;
	color: white;
	opacity: 0.9;
	width: 100svw;
	height: 80%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-size: 3rem;
}

.link {
	font-size: 1rem;
	text-decoration: none;
	margin: 1rem;
	color: #4d4d4d;
}

nav.top {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding-left: 1rem;
	background-color: #fff7ed;
	height: 120px;
}

nav.top > :nth-child(2) {
	margin-left: auto;
}

h1.title-header {
	font-weight: 700;
	font-size: 1.5rem;
}

div.home {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	gap: 1rem;
}
div.home > .cta {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	gap: 1rem;
}
div.home > .cta > h1.title {
	font-size: 36px;
	line-height: 42px;
	font-weight: bold;

	margin: 0 5%;
	margin-top: 3rem;
}

div.home > .cta > p {
	font-size: 1rem;
	margin: 0 5%;
	line-height: 24px;
}

div.home > button {
	font-size: 0.9rem;
	margin: auto 5%;
	padding: 0.75rem 9rem;
	border-radius: 0.5rem;
	color: #ffffff;
	background-color: #ff8c38;
	font-weight: bold;
}

footer {
	margin-top: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1.25rem 0rem;
	background-color: #252525;
	color: #aaaaaa;
}

.home {
	background-image: url('../public/home_mountain_background.png');
}
