* {
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}
#root {
	display: flex;
	flex-direction: column;
	width: 100svw;
	height: 100svh;
	background-color: #fff7ed;
}

body {
	margin: 0;
	font-family: 'Inter', sans-serif;
}

.test {
	background-color: #fff7ed;

	width: 100svw;
	height: 85%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-size: 3rem;
}

nav.top,
nav.top-host {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding-left: 1rem;
	background-color: #fff7ed;
	height: 120px;
	color: #161616;
}

nav.top > :nth-child(2) {
	margin-left: auto;
}

h1.title-header {
	font-weight: 700;
	font-size: 1.5rem;
}

div.home,
div.about {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	gap: 1rem;
	background-color: #fff7ed;
	color: white;
}
div.home > .cta {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	gap: 1rem;
}
div.home > .cta > h1.title {
	font-size: 36px;
	line-height: 42px;
	font-weight: bold;

	margin: 0 5%;
	margin-top: 3rem;
}

div.home > .cta > p {
	font-size: 1rem;
	margin: 0 5%;
	line-height: 24px;
}

div.home > button {
	font-size: 0.9rem;
	margin: auto 5%;
	padding: 0.75rem 9rem;
	border-radius: 0.5rem;
	color: #ffffff;
	background-color: #ff8c38;
	border: none;
	font-weight: bold;
	font-family: 'Inter', sans-serif;
}

div.about > main {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	gap: 1rem;
}
div.about > main > header {
	font-size: 32px;
	font-weight: bold;
	line-height: 38px;
	margin: 0 5%;
	margin-top: 1rem;
	color: #161616;
}

div.about > main > p {
	font-size: 0.9rem;
	color: black;
	font-weight: 300;
	line-height: 22px;
	margin: 0 5%;
	opacity: 0.8;
}

div.about > .cta-cont-about {
	background-color: #ffcc8d;
	color: #161616;
	padding: 1rem;
	margin: 3% 5%;
	border-radius: 0.25rem;
}

div.about > .hero-img {
	align-self: center;
}

.cta-text-about {
	font-size: 24px;
	font-weight: bold;
	line-height: 30px;
}

.cta-text-button,
.return-button {
	font-size: 15px;
	font-weight: bold;
	line-height: 30px;
	background-color: #161616;
	border-color: #161616;
	border-radius: 0.5rem;
	color: #ffffff;
	padding: 0.5rem 1rem;
	outline: none;
	cursor: pointer;
	font-family: 'Inter', sans-serif;
}

.return-button {
	margin: 1.5rem;
	padding: 1rem 20%;
	font-size: 1.25rem;
}

footer {
	margin-top: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1.25rem 0rem;
	background-color: #252525;
	color: #aaaaaa;
}

.home {
	background-image: url('/home_mountain_background.png');
	background-repeat: no-repeat;
}

/* van card styling */

.card-cont-van {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 229px;
	margin: 1rem;
}

.card-cont-van > img {
	height: 229px;
	width: 229px;
	border-radius: 0.6rem;
}

.card-cont-van > .card-bottom {
	display: flex;
	flex-direction: column;
}

.card-cont-van > .card-bottom > .top-cont,
.card-cont-van > .card-bottom > .bottom-cont {
	display: flex;
	font-size: 20px;
	line-height: 31px;
	justify-content: space-between;
	color: #161616;
}

.card-cont-van > .card-bottom > .top-cont {
	margin: 0.5rem 0rem;
}

.card-cont-van > .card-bottom > .top-cont > .van-name {
	font-size: 1.2rem;
	font-weight: 300;
	letter-spacing: 0.05rem;
	line-height: 31px;
	color: #161616;
}

a:link {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

a:active {
	text-decoration: none;
}

.card-cont-van > .card-bottom > .bottom-cont > .card-button {
	color: #ffead0;
	border-radius: 0.25rem;
	border: none;
	padding: 0.5rem 1rem;
	font-weight: 300;
	font-size: 1.25rem;
	text-shadow: 0px 4px 4px hwb(0 0% 100% / 0.275);
	text-transform: capitalize;
	text-decoration: none;
	font-family: 'Inter', sans-serif;
}

.simple {
	font-family: 'Inter', sans-serif;
	background-color: #e17654;
}

button.simple:hover,
button.simple.selected {
	background-color: #e17654;
	color: #ffffff;
	text-decoration: none;
}

.rugged {
	font-family: 'Inter', sans-serif;
	background-color: #115e59;
}

button.rugged:hover,
button.rugged.selected {
	background-color: #115e59;
	color: #ffffff;
	text-decoration: none;
}

.luxury {
	font-family: 'Inter', sans-serif;
	background-color: #161616;
}

button.luxury:hover,
button.luxury.selected {
	background-color: #161616;
	color: #ffffff;
	text-decoration: none;
}

/* van page container */

.vans {
	background-color: #fff7ed;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: fit-content;
}

.van-cont {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.nav-van-options {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 1.5rem 4rem;
	gap: 0.5rem;
}
.nav-van-options > button {
	border: none;
	background-color: #ffead0;
	padding: 0.5rem 1.5rem;
	border-radius: 0.25rem;
	font-size: 16px;
	font-family: 'Inter', sans-serif;
}

.nav-van-options > .clear-filter {
	background-color: #f5f5f5;
	text-decoration: underline;
	font-family: 'Inter', sans-serif;
}

.nav-title-van {
	margin-top: 2rem;
	margin-left: 4rem;
	font-size: 32px;
	font-weight: 600;
}

/* vanDetail css  */

.van-detail {
	display: flex;
	flex-direction: column;
	height: max-content;
	background-color: #fff7ed;
}

.van-detail-container {
	padding: 27px;
}

.van-detail-container > .back-button {
	color: black;
	font-family: 'Inter', sans-serif;
	text-decoration: none;
}

a.back {
	margin-top: 1.5rem;
	margin-left: 1.5rem;
	width: 100%;
}

.van-detail-container > .back-button:visited {
	font-family: 'Inter', sans-serif;
}

.van-detail-inner {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	color: #161616;
	height: fit-content;
	gap: 2rem;
}

.van-detail img {
	border-radius: 5px;
	margin-block: 47px;
	height: 500px;
	width: 500px;
	align-self: center;
}

.van-detail > h2 {
	font-size: 2rem;
	margin-bottom: 10px;
}

.van-detail .van-price {
	font-size: 1.25rem;
	margin-bottom: 10px;
	color: #161616;
}

.van-detail .van-price span {
	font-weight: 700;
	font-size: 1.5rem;
	text-decoration: none;
}

.van-detail .link-button {
	background-color: #ff8c38;
	color: white;
	font-size: 1.125rem;
	width: 90svw;
	padding: 1rem;
	border: none;
	border-radius: 0.25rem;
	font-size: 1.25rem;
	font-weight: bold;
	letter-spacing: 0.05rem;
	text-decoration: none;
}

.van-detail p {
	line-height: 22px;
	font-size: 16px;
}

.van-detail i {
	color: #ffead0;
	border-radius: 0.25rem;
	border: none;
	padding: 0.5rem 1rem;
	font-weight: 300;
	font-size: 1.25rem;
	text-shadow: 0px 4px 4px hwb(0 0% 100% / 0.275);
	text-transform: capitalize;
	text-align: center;
	width: 120px;
}

.my-link {
	color: #161616;
	font-size: 1rem;
	text-decoration: none;
	margin: 1rem;
	font-weight: bold;
}

.link,
.logo {
	font-size: 1rem;
	text-decoration: none;
	margin: 1rem;
	color: #4d4d4d;
}

.link:hover {
	font-weight: bold;
	text-decoration: underline;
}

.host-listed-vans-title {
	font-size: 1.5rem;
	margin: 1rem;
	font-weight: bold;
}

.host-listed-vans-cont {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	padding: 2rem 1rem;
	background-color: #fff7ed;
	border-radius: 0.25rem;
}

.host-listed-vans-img {
	border-radius: 0.25rem;
}

.host-van-card {
	display: flex;
	padding: 1rem;
	margin: 0.25rem 1rem;
	background-color: #ffffff;
}
.host-van-right-card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 0.5rem;
	padding-left: 0.7rem;
	color: black;
}
.host-van-price {
	color: #4d4d4d;
	font-size: 0.9rem;
}

.host-van-detail-cont {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	gap: 1.5rem;
	background-color: #fff7ed;
}
.host-van-detail-cont-top {
	margin-top: 1.5rem;
}

.back {
	font-size: 1rem;
	text-decoration: underline;
	color: black;
	margin-left: 2rem;
	display: flex;
}

.host-van-detail-card {
	background-color: #ffffff;
	margin: 0 1.5rem;
	padding: 1.5rem;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.host-van-detail-card > .top-card {
	display: flex;
	gap: 1.5rem;
}

.host-van-detail-card > .top-card > .right {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 1.5rem;
}

.right > button {
	background-color: #e17654;
	border: none;
	padding: 0.5rem 1rem;
	width: 80px;
	border-radius: 0.25rem;
	color: #ffffff;
	text-transform: capitalize;
	font-family: 'Inter', sans-serif;
}

.right > :nth-child(2) {
	font-size: 1.5rem;
	font-weight: bold;
}

.right > *:nth-child(3) > div {
	font-weight: bold;
}
.right > .price-cont {
	display: flex;
}

.host-van-detail-nav-button {
	background-color: #ffffff;
	border: none;
	font-size: 0.9rem;
	font-family: 'Inter', sans-serif;
	line-height: 30px;
}

.host-van-detail-nav-button:hover {
	text-decoration: underline;
}

.bottom-card {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.bottom-card > .info {
	display: flex;
	flex-direction: row;
	gap: 0.25rem;
	align-items: baseline;
}

.bottom-card > .info > .label {
	font-weight: bold;
	font-size: 0.9rem;
}

.bottom-card > .info:nth-child(2) > .text {
	text-transform: capitalize;
}

.bottom-card > .info > .text {
	font-size: 0.9rem;
	line-height: 21.5px;
}

.host-details-nav {
	background-color: #ffffff;
	margin: 0 1.5rem;
}

.host-detail-layout-cont {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-grow: 1;
	margin: 0;
	background-color: #fff7ed;
}

.not-found {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2rem;
	flex-direction: column;
}

.not-found > h2 {
	padding: 2rem;
}
.login-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-inline: 27px;
}

.login-form {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 500px;
}

.login-form > input {
	border: 1px solid rgba(209, 213, 219);
	height: 40px;
	text-indent: 10px;
	font-family: 'Inter', sans-serif;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
	font-weight: 400;
}

.login-form > input:focus {
	outline: none;
}

.login-form > input:first-of-type {
	border-radius: 6px 6px 0px 0px;
}

.login-form > input:last-of-type {
	border-radius: 0px 0px 6px 6px;
	border-top: none;
}

.login-form > button {
	background-color: #ff8c38;
	border: none;
	border-radius: 6px;
	height: 55px;
	margin-top: 22px;
	color: white;
	font-family: 'Inter', sans-serif;
}

.login-form > .disabled {
	background-color: #ff8c38;
	opacity: 0.5;
	cursor: not-allowed;
}

.loginRedirectMessage {
	font-size: 0.9rem;
	margin: 1rem 0rem;
	color: red;
}
